@model IEnumerable<WebApplication7.Models.products>

@{
    ViewBag.Title = "About";

}
<br />
<h1 align="center"> Выберите что хотите купить</h1>
<form  method="post">

    <select name="Name" id="Name" size="3" multiple>
        <option value="Клавиатура" >Клавиатура</option>
        <option value="Компьютерная мышь"> Компьютерная мышь </option>
        <option value="Монитор">Монитор</option>
        <option value="Наушники">Наушники</option>

    </select> 
    <br />
    <p>Выберите цвет товара</p>
    <input type="radio" name="color" value="Красный"/>Красный<br />
    <input type="radio" name="color" value="Белый" />Белый<br />
    <input type="radio" name="color" value="Синий" />Синий<br />
    <input type="radio" name="color" value="Зеленый" />Зеленый<br />
    <br />
    <input type="submit" name="save1" value="Просмотр покупки"/>
    <input type="button" id="save" value="Внести в корзину" />
</form>
<form action="/Home/Array" method="post">
    <input id="names" name="names" type="text" value="" />
    <input id="names" name="names" type="text" value="" />
    <input id="names" name="names" type="text" value="" />
    <input id="names" name="names" type="text" value="" />
    <input type="submit" />
</form>
@foreach (var item in Model)
{
    <h1>Имя товара:@item.Name</h1>
      
       <h3> Цвет товара: @item.Color</h3>
       <hr />
}
<h1>Корзина</h1>
<ul id="stickies">

</ul>
@section Scripts {
   <script>
       window.onload = init;
       
       function init() {
           var button = document.getElementById("save");
           button.onclick = createInfo;
           for (var i = 0; i < sessionStorage.length; i++) {
               var key = sessionStorage.key(i);
               if (key.substring(0, 6) == "sticky") {
                   var value = sessionStorage.getItem(key);
                   addInfo(value);
               }
           }
       }
       function createInfo() {
           var value = document.getElementById("Name").value;
           var key = "sticky_" + sessionStorage.length;
           sessionStorage.setItem(key, value);
           addInfo(value)
       }
       function addInfo(value) {
           var stickies = document.getElementById("stickies");
           var sticky = document.createElement("li");
           var span = document.createElement("span");
           span.setAttribute("class", "sticky");
           span.innerHTML = value;
           sticky.appendChild(span);
           stickies.appendChild(sticky);
       }
    </script>
    }

